<div id="sidebar-wrapper">
  <!-- Sidebar -->
  <div class="user-menu-nav">
    <div class="menu-header">
        <div class="menu-header-title-holder"><h3 class="menu-header-title">Menu</h3></div>
        <%= link_to('#', :id => "menu-close") do %><span class="glyphicon glyphicon-remove"></span><% end %>
      <hr>
    </div>
    <ul class="nav nav-list">
      <!--<li>
        <a href="#">Some Link</a>
      </li>-->
    </ul>
    <div class="menu-divider">
      <hr>
      <h3 class="menu-divider-title"><span class="glyphicon glyphicon-list-alt"></span> Activity</h3>
    </div>
  </div>
</div>
