<div id="sidebar-wrapper">
  <!-- Sidebar -->
  <div class="user-menu-nav">
    <div class="menu-header">
        <div class="menu-header-title-holder"><h3 class="menu-header-title">Menu</h3></div>
        <%= link_to('#', :id => "menu-close") do %><span class="glyphicon glyphicon-remove"></span><% end %>
      <hr>
    </div>
    <ul class="nav nav-list">
      <% if @is_participated %>
        <li>
          <%= link_to(@current_activity) do %><!--
          --><span class="glyphicon glyphicon-plane"></span>&nbsp;Ongoing Thirvolution
          <% end %>
        </li>
      <% else %>
        <li>
          <a href="#">I feel lucky!</a>
        </li>
      <% end %>
    </ul>
    <div class="menu-divider">
      <hr>
      <h3 class="menu-divider-title"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Activity</h3>
    </div>
    <div class="nav-activity-list">
      <p class="nav-activity-content">This is just an example.</p>
      <p class="nav-activity-time">yesterday at 14:52</p>
      <hr>
      <p class="nav-activity-content">Means nothing, yea.</p>
      <p class="nav-activity-time">1 Feb at 21:42</p>
      <hr>
      <p class="nav-activity-content">Let's just try to make this line super long.</p>
      <p class="nav-activity-time">21 Nov 2016 at 11:12</p>
    </div>
  </div>
</div>
