<div class="page-header">
  <h1>Story of Thirvolution...</h1>
</div>
<div>
  <dl class="dl-horizontal">
    <dt>2017/01/04</dt>
    <dd>Watched <%= link_to "Matt Cutts' speech", "/pages/mcstory" %> and decided to start my own 30 days challenge</dd>
    <dt>2017/01/05</dt>
    <dd>Started challenging "commit any codes into my Github repo", which is "<%= link_to "Thirvolution", root_path %>" ;-)</dd>
  </dl>
</div>
