/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@font-face {
font-family: 'helvetica_neueregular';
src: url('helveticaneue-medium-webfont.eot');
src: url('helveticaneue-medium-webfont.eot?#iefix') format('embedded-opentype'),
     url('helveticaneue-medium-webfont.woff') format('woff'),
     url('helveticaneue-medium-webfont.ttf') format('truetype'),
     url('helveticaneue-medium-webfont.svg#helvetica_neueregular') format('svg');
font-weight: normal;
font-style: normal;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.thirv-top-navbar {
  font-weight: 700;
  z-index: 1000;
}
.login_signup {
  font-size: 20px;
  width: 600px;
  vertical-align: middle;
}

.text_underline {
  text-decoration: underline;
}

.login_signup input[type=text], input[type=password], input[type=email] {
  width: 300px;
}

.login_signup input[type=submit] {
  font-weight: bold;
}

.field {
  margin-top: 20px;
}

.field .field_with_errors {
  display: inline-block;
}

.field p {
  display: inline;
}

#bootstrap-overrides .login_signup label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: normal;
}

#bootstrap-overrides .sidebar-nav {
  margin-top: 50px;
}

.login_forgot_password_block, .create_account_block, .login_regist_block, .google_regist_block {
  margin-top: 30px;
}

.login_forgot_password_block p, .login_regist_block p {
  display: inline;
}

.create_activity input[type=text] {
  width: 250px;
}

.create_activity label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 16px;
}

.back_lucky_block {
  margin-top: 30px;
}

.back_lucky_block a {
  font-size: 16px;
}

.show_activity {
}

.activity-table {
  font-size: 16px;
  margin-top: 15px;
}

.activity-table td {
  white-space: nowrap;
}

.activity-table .activity-title {
  padding-left: 30px;
}

.activity-table .activity-participation-count {
  font-size: 14px;
}

.activity-table .activity-creation-time {
  color: #999;
  font-size: 12px;
}

.activity-table .full-width {
  width: 100%;
}

.activity-table .activity-sort {
  text-align: center;
}

.thirv_dashboard {
  font-size: 18px;
  margin-top: 25px;
}

.thirv_dashboard {
  width: 80%;
}

.thirv_dashboard .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  padding-left: 0px;
  padding-right: 0px;
}

.thirv_dashboard button {
  width: 100%;
  height: 50px;
  font-size: 16px;
  border-radius: 0px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  outline: none;
}

.thirv_dashboard button span {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.thirv_dashboard button:before,
.thirv_dashboard button:after {
  content: '';
  position: absolute;
  top: 0.67em;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: .4s,opacity .6s;
  -moz-transition: .4s,opacity .6s;
  -o-transition: .4s,opacity .6s;
  transition: .4s,opacity .6s;
}

/* :before */
.thirv_dashboard button:before {
  content: attr(data-hover);
  -webkit-transform: translate(-150%,0);
  -moz-transform: translate(-150%,0);
  -ms-transform: translate(-150%,0);
  -o-transform: translate(-150%,0);
  transform: translate(-150%,0);
}

/* :after */
.thirv_dashboard button:after {
  content: attr(data-active);
  -webkit-transform: translate(150%,0);
  -moz-transform: translate(150%,0);
  -ms-transform: translate(150%,0);
  -o-transform: translate(150%,0);
  transform: translate(150%,0);
}

.thirv_dashboard .active-tdb-btn:hover span {
  opacity: 0;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -o-transform: scale(0.3);
  transform: scale(0.3);
}

.thirv_dashboard .active-tdb-btn:hover:before {
  opacity: 1;
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
  -webkit-transition-delay: .4s;
  -moz-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
}

.pointer-cursor {
  cursor: pointer;
}

.auto-cursor {
  cursor: auto;
}

.activity-search input {
  display: inline;
  float: left;
}

.activity-search input[type=text] {
  height: 30px;
  width: 200px;
  border-right-width: 0px;
}

.activity-search #activity-search-btn {
  border-radius: 0px;
}

.activity-search #activity-search-clear-btn {
  border-radius: 0px 5px 5px 0px;
  border-left-width: 0px;
}

.user-menu {
  margin-right: 50px;
  position: absolute;
  right: 0px;
}

#sidebar-wrapper {
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0px;
  right: 266px;
  width: 266px;
  padding: 0px;
  height: 100%;
  margin-right: -266px;
  overflow-y: auto;
  background: #EDEFF0;

  -webkit-transition-property: -webkit-transform,width;
  transition-property: transform,width;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transform: translateX(266px);
  transform: translateX(266px);
}

#wrapper.toggled #sidebar-wrapper {
  box-shadow: 0 0 6px rgba(0,0,0,.4);
  -webkit-transform: translateX(0);
  transform: translateX(0)
}

.user-menu-nav {
  margin-top: 75px;
  width: 250px;
  padding: 0;
  list-style: none;
}

.user-menu-nav li {
  text-indent: 10px;
  line-height: 20px;
  width: 230px;
}

.user-menu-nav li a {
  font-size: 14px;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  color: #000;
  padding: 6px 12px 6px 0px;
}

.user-menu-nav .menu-item-icon {
  display: inline;
  font-size: 16px;
  padding: 0px 6px 0px 0px;
  color: #999;
  top: 3px;
}

.user-menu-nav li a:hover {
  text-decoration: none;
  background: #cccccc;
}

hr {
  background: #D6DADC;
  border: 0;
  color: #D6DADC;
  height: 1px;
  margin: 9pt 0;
  width: 100%;
}

.menu-header, .menu-divider {
  padding: 0px 6px 0px 9px;
}

.menu-header .menu-header-title-holder {
  width: 100%;
}

.menu-header .menu-header-title {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.menu-header a {
  color: #999;
}

.menu-header a:hover {
  color: #000;
}

.menu-header .menu-close-button, .menu-back-button {
  position: absolute;
  display: inline;
  top: 77px;
}

.menu-header .menu-close-button {
  right: 10px;
}

.menu-divider .menu-divider-title {
  font-size: 14px;
}

.nav-activity-list {
  margin-left: 30px;
  width: 85%;
}

.nav-activity-list p {
  margin: 0px;
}

.nav-activity-list .nav-activity-time {
  color: #8c8c8c;
  font-size: 12px;
}

.nav-activity-list hr {
  margin: 3pt 0;
}

.nav-activity-list a {
  color: #000;
}

.nav-activity-list .nav-activity-view-all {
  color: #8c8c8c;
  margin-top: 15px;
  position: absolute;
}

.activity-comments h4 {
  margin-top: 25px;
  margin-bottom: 1px;
}

.activity-comments .comment-content p {
  font-size: 14px;
  margin-left: 5px;
}

.activity-comments .comment-author, .comment-time {
  color: #999;
  float: right;
  margin-right: 20px;
  font-size: 12px;
}

.activity-comments .comment-author {
  margin-bottom: 0px;
}

.activity-comments .comment-time {
  margin-bottom: 8px;
}

.post-comment {
  margin-top: 25px;
}

.post-comment label {
  font-size: 14px;
}

.post-comment textarea {
  font-size: 14px;
  word-wrap: break-word;
  width: 500px;
  min-height: 120px;
}
