/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.login_signup {
  font-size: 20px;
  width: 600px;
  vertical-align: middle;
}

.text_underline {
  text-decoration: underline;
}

.login_signup input[type=text], input[type=password], input[type=email] {
  width: 300px;
}

.login_signup input[type=submit] {
  font-weight: bold;
}

.field {
  margin-top: 20px;
}

.field p {
  display: inline;
}

#bootstrap-overrides .login_signup label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: normal;
}

.login_forgot_password_block, .create_account_block {
  margin-top: 30px;
}

.login_forgot_password_block p, .login_regist_block p {
  display: inline;
}

.login_regist_block, .google_regist_block {
  margin-top: 35px;
}

.create_activity input[type=text] {
  width: 250px;
}

.create_activity label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 16px;
}

.back_lucky_block {
  margin-top: 30px;
}

.back_lucky_block a {
  font-size: 16px;
}

.show_activity {
}

.activity_table {
  font-size: 16px;
}

.thirv_dashboard {
  font-size: 18px;
  margin-top: 25px;
}
