<h1>Current activites</h1>

<table>
  <% @activities.each do |activity| %>
    <tr>
      <td><%= link_to activity.title, activity %></td>
      <td>ID-<%= activity.id %></td>
      <td><%= activity.participate_count %> users participated!</td>
    </tr>
  <% end %>
</table>
<%= link_to 'Back', root_path %>
