<p>
  <strong>Title:</strong>
  <%= @activity.title %>
</p>

<p>
  There are <strong><%= @activity.participate_count %></strong> users participated this activity
</p>

<p>
  There are <strong><%= @activity.finish_count %></strong> users finished this activity
</p>
